/* Jumbotron and Overall WebPage */
html {
    position: relative;
    min-height: 100%;
}

.home-page {
    margin: 0 auto;
}

.jumbotron {
    margin-top: 15%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    background-color: transparent !important;
    color: white;
}

.display-4 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 400 !important;
    font-size: 50px !important;
}

.lead {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 16px !important;
    letter-spacing: 2px;
    color: white;
}

#startButton {
    background-color: transparent !important;
    border: 2px solid #f68a3f !important;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    margin-top: 10px;
}

/* Overall Page */

.main-page {
    display: none;
}

.navbar {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400 !important;
    text-transform: uppercase;
    font-size: 15px !important;
    letter-spacing: 1px;
    margin-top: 10px;
    border-bottom: 2px solid #f68a3f;
    margin-bottom: 60px;
}

.line {
    color: #f68a3f !important;
}

#main-text {
    z-index: 10;
    margin: 0 auto;
    width: 94%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

div {
    display: block;
}

/* About Me Page */

#about {
    letter-spacing: 2px;
    color: black !important;
    font-weight: 400 !important;
}

#text {
    line-height: 25px;
    font-size: 16px;
    text-transform: initial;
    letter-spacing: 1px;
}

.rounded-circle {
    margin-left: 20px;
}

/* Portfolio Section */

#header {
    letter-spacing: 2px;
    color: black !important;
    font-weight: 400 !important;
}

#funky {
    /* opacity: 1; */
    display: block;
    width: 100%;
    height: auto;
    /* transition: .5s ease; */
    backface-visibility: hidden;
}

#giffy {
    margin-bottom: 200px;
    display: block;
    width: 100%;
    height: auto;
}

.image:hover #funky {
    opacity: 0.2;
}

.image:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.text #hover {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 30px;
    margin-bottom: 0px;
}

.text #hover-01 {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 16px;
    letter-spacing: 3px;
}

#projectBtn {
    margin: 0 auto;
    background-color: black !important;
    color: white;
    border: none !important;
    border-radius: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    margin-top: 10px;
    padding: 10px 15px;
}

p {
    line-height: 40px;
    letter-spacing: 2px;
    color: #777;
}

.break {
    margin-bottom: 150px;
}

#description-pl, #description-brew, #description-valley, #description-alight, #description-trivia, #description-duck, #description-xy, #description-comedy, #description-train, #description-gulls {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    text-transform: initial;
}

#link {
    color: #777;
}

#link:hover {
    color: black;
}

#block-text, #block-text-01, #block-text-02, #block-text-03, #block-text-04, #block-text-05, #block-text-06, #block-text-07, #block-text-08, #block-text-09 {
    margin-top: 50px;
}

#view-01, #alight-01, #dive-02 {
    margin-bottom: 50px;
}

#dive-02, #xy-02, #gulls-02 {
    margin-top: 55px;
}

#dive-03 {
    margin-top: -20px;
}

  /* // Modal styling // */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto !important; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
  /* Modal Content (image) */
  .modal-content {
    margin: 0 auto;
    margin-top: 10px !important;
    display: block;
    /* width: 80%; */
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    margin-top: 20px !important;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 25px;
    right: 50px;
    color: white !important;
    font-size: 40px;
    font-weight: bold;
    /* transition: 0.3s; */
  }
  
  .close:hover,
  .close:focus {
    color: white !important;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/* Contact Me Section  */

form {
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 2px;
    margin-bottom: 100px !important;
}

#emailButton-01, #emailButton-02 {
    margin: 0 auto;
    background-color: black !important;
    color: white;
    border: none !important;
    border-radius: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-right: 20px;
}

#submit {
    margin: 0 auto;
    background-color: black !important;
    color: white;
    border: none !important;
    border-radius: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    margin-top: 10px;
}

#contact-header {
    letter-spacing: 2px;
    color: black !important;
    font-weight: 400 !important;
}

.contact #emailButton{
    text-align: center;
}

a:hover {
    text-decoration: none !important;
    font-weight: bold !important;
    cursor: pointer;
}

/* Footer Section */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f7f7f7;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(156, 156, 156) !important;
    letter-spacing: 1px;
    text-align: center;
}

.fa {
    color: rgb(156, 156, 156);
    padding: 10px;
}

.fa:hover {
    color: black;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

/* End of Styling */